{{#each allBurgers}}
    <div class="row">
        <div class="col border">
            <p class="lead">{{burger_name}}</p>
        </div>
        <div class="col border">
            <button type="button" class="btn btn-secondary">Devour it!</button>
        </div>
    </div>
{{/each}}