
{{!-- not devoured column --}}
<div class="row">
	<div class="col">
		{{#each allBurgers}}
		{{#unless devoured}}
		<div class="row">
			<div class="col">
				<p class="lead">{{burger_name}}</p>
			</div>
			<div class="col">
				<button type="button" class="btn bg-blue white mb-2 devourBurger" id="{{id}}">Devour it!</button>
			</div>
		</div>
		{{/unless}}
		{{/each}}
	</div>
	{{!-- devoured column --}}
	<div class="col">
		{{#each allBurgers}}
		{{#if devoured}}
		<p class="lead">{{burger_name}} has been devoured!</p>
		{{/if}}
		{{/each}}
	</div>
</div>
<form class="create-form my-3">
	<div class="row justify-content-center">
		<div class="col-5">
			<input type="text" class="form-control my-2" id="newBurger" placeholder="">
		</div>
		<div class="col-2">
			<button type="submit" class="btn bg-blue white my-2" id="addBurger">Add Burger!</button>
		</div>
	</div>
</form>